.login-page {
  display: flex;
  width: 100%;
  min-height: 100%;
  .first {
    background-color: white;
    width: 50%;
    padding: 2rem 4rem;
    .inner {
      .go-back {
        padding: 3rem 5rem 2rem 5rem;
        color: #bdbdbd;
      }
      .inner-2 {
        text-align: center;
        form {
          margin-top: 2rem;
          text-align: center;
          h4 {
            padding-bottom: 1rem;
          }
          .input-group {
            margin-bottom: 1rem;
            width: 50%;
          }
          .app-button {
            margin-top: 2rem;
            margin-bottom: 3rem;
            .login-button {
              width: 50%;
              background-color: #008952;
              border: none;
              height: 40px;
              border-radius: 3px;
              color: white;
            }
          }
        }
        .new-forgot {
          p {
            margin-top: 2rem;
            a {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .second {
    background-color: #90d5f8;
    width: 50%;
    text-align: center;
    padding-top: 6rem;
    h4 {
      color: white;
    }
    .girl-img {
      position: relative;
      img {
        bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 1289px) {
  .login-page {
    .first {
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 844px) {
  .login-page {
    .first {
      width: 100%;
    }
    .second {
      display: none;
    }
  }
}
