@import "/src/config/variables.scss";

.login-page {
  display: flex;
  width: 100%;
  max-height: 100%;
  .app-logo {
    img {
      width: 20%;
      height: 40%;
    }
  }

  .first {
    overflow: hidden;
    background-color: white;
    width: 50%;
    padding: 2rem 4rem;
    .inner {
      min-height: 80vh;
      .go-back {
        display: flex;
        padding: 3rem 0;
        margin: auto;
        max-width: 23rem;
        cursor: pointer;
        svg {
          height: 1rem;
          width: 1rem;
          margin-top: 2px;
        }
        a {
          text-decoration: none;
          font-family: $font-roboto-light;
          color: #bdbdbd;
          font-size: 15px;

          margin-left: 3px;
        }
      }
      .inner-2 {
        text-align: center;
        form {
          margin: auto;
          max-width: 23rem;
          h4 {
            padding-bottom: 1rem;
            font-family: $font-roboto-bold;
            font-size: 18px;
          }
          .app-button {
            margin-top: 2rem;
            margin-bottom: 1rem;
            .login-button {
              width: 100%;
              background-color: #008952;
              border: none;
              height: 40px;
              border-radius: 3px;
              color: white;
              font-family: $font-roboto-regular;
              font-size: 14px;
            }
          }
        }
        .new-forgot {
          p {
            margin-top: 2rem;
            color: #525f7f;
            font-family: $font-opensans-regular;
            font-size: 14px;
            a {
              color: #5D6EE7;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .second {
    position: relative;
    background-color: #90d5f8;
    width: 50%;
    height: 100vh;
    text-align: center;
    padding-top: 6rem;
    h4 {
      color: white;
      font-family: $font-roboto-bold;
      font-size: 30px;
      span {
        font-family: $font-roboto-light;
      }
    }
    img {
      position: absolute;
      bottom: 0;
      left: calc(50% - 200px);
      width: 400px;
      max-height: 80%;
    }
  }
}

@media only screen and (max-width: 1289px) {
  .login-page {
    .first {
      padding: 1rem;
    }
  }
}

@media only screen and (max-width: 844px) {
  .login-page {
    .first {
      width: 100%;
    }
    .second {
      display: none;
    }
  }
}
