@import "/src/config/variables.scss";

.headerCategory {
  background-color: white;
  display: flex;

  .headerCategoryMain {
    padding: 1rem;
    width: 100%;
    .headerCategoriesViewAll {
      width: 100%;
      display: flex;
      justify-content: space-between;
      h3 {
        color: #006a0e;
        font-family: $font-roboto-regular;
        font-size: 14px;
      }
      a {
        color: #006a0e;
        font-family: $font-roboto-regular;
        font-size: 10px;
      }
    }
    .headerCategoriesRow {
      .categoryCol {
        p {
          color: #828282;
          font-family: $font-roboto-regular;
          font-size: 12px;
        }
      }
    }
  }
}
