@import "/src/config/variables.scss";

.inputRow {
  .col-md-6 {
    .input-group {
      margin-bottom: 1rem;
      width: 100%;
      box-shadow: 10px 10px 5px white;
      .input-group-prepend {
        span {
          background-color: white;
          border-right: none !important;
        }
      }
      input {
        border-left: none !important;
        &::placeholder {
          color: #828282;
          font-size: 14px;
          font-family: $font-barlow-regular;
        }
      }
    }
  }
  .col-md-1 {
    .error {
      display: flex;
      img {
        width: 1rem;
        height: 1rem;
      }
      p {
        color: red;
        font-family: $font-roboto-regular;
      }
    }
  }
}
