@import "/src/config/variables.scss";

.addressModalBody {
  padding: 0 !important;
  .addressBookModal {
    .addressBookContainer {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #f2f2f2;
      padding: 1rem;
      h2 {
        font-size: 18px;
        font-family: $font-barlow-bold;
        color: #000000;
      }
      svg {
        width: 1rem;
        height: 1rem;
      }
    }
    .add-new-address {
      padding: 1rem;
      border-bottom: 1px solid #f2f2f2;
      display: flex;
      color: #008952;
      svg {
        width: 1rem;
        height: 1rem;
      }
      h6 {
        font-family: $font-barlow-bold;
        margin-left: 0.5rem;
      }
    }
    .addressBookDefault {
      padding: 1rem;
      h5 {
        font-family: $font-barlow-regular;
        color: #828282;
        font-size: 16px;
        margin-bottom: 1rem;
      }
      .addressBookForm {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        .addressFormGroup {
          h4 {
            font-family: $font-barlow-bold;
            color: #000000;
            font-size: 20px;
          }
          h6 {
            font-family: $font-barlow-regular;
            color: #828282;
            font-size: 16px;
          }
        }
        .addressGroupEdit {
          h6 {
            font-family: $font-barlow-bold;
            svg {
              width: 1rem;
              height: 1rem;
            }
            &:first-child {
              color: #008952;
            }
            &:last-child {
              color: rgb(255, 123, 0);
            }
          }
        }
      }
    }
    .addressModalButton {
      padding: 1rem;
      .useAddressButton {
        width: 100%;
        height: 2rem;
        background-color: #008952;
        border: none;
        border-radius: 5px;
        color: #ffffff;
        font-size: 15px;
        font-family: $font-roboto-regular;
      }
    }
  }
}
