@import "/src/config/variables.scss";

.address-info {
  padding: 1rem;
  background-color: #f7f7f7;
  .go-back {
    display: flex;
    padding: 3rem 5rem 0rem 8rem;
    cursor: pointer;
    svg {
      height: 1rem;
      width: 1rem;
      margin-top: 2px;
    }
    a {
      text-decoration: none;
      font-family: $font-roboto-light;
      color: #bdbdbd;
      font-size: 15px;
      margin-left: 3px;
    }
  }
  .address-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .address-main {
      padding: 0.8rem;
      background-color: white;
      border-radius: 5px;
      width: 400px;
      h3 {
        text-align: center;
        color: #000000;
        font-family: $font-roboto-regular;
        font-size: 14px;
      }
      .form-group {
        label {
          color: #828282;
          font-family: $font-barlow-regular;
          font-size: 12px;
        }
        input {
          &::placeholder {
            color: #e0e0e0;
            font-family: $font-barlow-regular;
            font-size: 14px;
          }
        }
        .input-group {
          .input-group-prepend {
            margin-right: 5px !important;
            span {
              background-color: #ffffff;
              color: #828282;
              font-family: $font-barlow-regular;
            }
          }
        }
      }
      .info-button {
        .continue {
          width: 100%;
          background-color: #f3ca3e;
          color: white;
          font-size: 15px;
          font-family: $font-roboto-regular;
          border: none;
          margin-bottom: 1rem;
          height: 37px;
          border-radius: 5px;
        }
        .save {
          width: 100%;
          background-color: #f3ca3e;
          color: white;
          font-size: 15px;
          font-family: $font-roboto-regular;
          border: none;
          height: 37px;
          border-radius: 5px;
        }
      }
    }
  }
}
.bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 0 10rem;
  .copyright {
    width: 50%;
    text-align: left;
    padding-left: 2.4rem;
    padding-bottom: 1rem;
  }
  .footer {
    justify-content: space-around;
    width: 50%;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 1289px) {
  .address-info {
    .go-back {
      padding: 3rem;
    }
  }
}
