@import "/src/config/variables.scss";

.payment-policy {
  padding: 2rem 4rem;
  height: 100%;
  .payment-first {
    padding: 3rem 5rem 2rem 8rem;
    .go-back {
      display: flex;
      cursor: pointer;
      svg {
        height: 1rem;
        width: 1rem;
        margin-top: 2px;
      }
      h6 {
        text-decoration: none;
        font-family: $font-roboto-light;
        color: #bdbdbd;
        font-size: 15px;
        margin-left: 3px;
      }
    }
  }
}

@media only screen and (max-width: 1289px) {
  .payment-policy {
    padding: 1rem;
    .payment-first {
      padding: 2rem;
    }
  }
}
