@import "/src/config/variables.scss";

.profile {
  .main {
    padding: 4rem;
    h3 {
      color: #000000;
      font-size: 25px;
      $font-aller-bold: "Aller Bold";
      padding: 1rem 0rem;
    }
  }
}
