@import "/src/config/variables.scss";

.profile {
  background-color: #dcdcdc;
  height: 100vh;
  .main {
    padding: 4rem;
    h2 {
      color: #000000;
      font-size: 25px;
      font-family: $font-aller-bold;
      padding: 1rem 0rem;
    }
  }
}
