@import "/src/config/variables.scss";

.product-search-page {
  width: 100%;
  max-height: 100%;
  .product-container {
    padding: 3rem;
    background-color: #f7f7f7;
    .input-main {
      min-height: 100vh;
      border-radius: 10px;
      outline: none;
    }
    .main {
      padding: 1rem;
      min-height: 100vh;
      background-color: #ffffff;
      border-radius: 10px;
      outline: none;
      .heading {
        padding: 0rem 1rem 2rem 0rem;
        height: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .view-all {
          font-family: $font-roboto-regular;
          color: #bdbdbd;
          font-size: 12px;
        }
        .heading-text {
          color: 000000;
          font-family: $font-roboto-bold;
          font-size: 12px;
        }
      }
      .product-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
