@import "/src/config/variables.scss";

.otp-page {
  padding: 2rem 4rem;

  form {
    margin: auto;
    max-width: 26rem;
    text-align: center;
    margin-top: 9rem;
    h4 {
      padding-bottom: 1rem;
      font-family: $font-roboto-bold;
      font-size: 18px;
    }

    .app-button {
      margin-top: 3rem;
      margin-bottom: 3rem;
      .otp-button {
        width: 100%;
        background-color: #008952;
        border: none;
        height: 40px;
        border-radius: 3px;
        color: white;
        font-family: $font-roboto-regular;
        font-size: 14px;
      }
    }
  }
  .otp-bottom {
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    left: 0;
    right: 0;
    padding: 0 10rem;
    .copyright {
      width: 50%;
      text-align: left;
      padding-left: 2.4rem;
      padding-bottom: 1rem;
    }
    .footer {
      justify-content: space-around;
      width: 50%;
      display: flex;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 1289px) {
  .otp-page {
    .otp-bottom {
      padding: 0 !important;
    }
  }
}

@media only screen and (max-width: 844px) {
  .otp-page {
    padding: 2rem 2rem;

    .otp-bottom {
      display: block;
      .copyright {
        width: 100%;
        text-align: center;
      }

      .footer {
        width: 100%;
        text-align: center;
      }
    }
  }
}
