@import "/src/config/variables.scss";

.orders {
  display: flex;
  background-color: white;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  border-radius: 5px;

  .main-order {
    display: flex;
    .order-img {
      margin-right: 10px;
      img {
        height: 94px;
        width: 80px;
      }
    }
    .order-details {
      h3 {
        color: #000000;
        font-family: $font-roboto-regular;
        font-size: 14px;
      }
      h6 {
        color: #828282;
        font-family: $font-roboto-regular;
        font-size: 10px;
      }
      h4 {
        color: #fa9917;
        font-family: $font-roboto-regular;
        font-size: 12px;
      }
      h5 {
        background: #f0fff2;
        color: #124f36;
        font-family: $font-roboto-regular;
        font-size: 9px;
        height: 16px;
        width: 61px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
      }
    }
  }
  .details {
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      color: #4e7b8d;
      font-family: $font-aller-regular;
      font-size: 12px;
    }
  }
}
