@import "/src/config/variables.scss";

.profile-sidebar {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  a {
    text-decoration: none;
    &:hover {
      color: #f3ca3e;
    }
    .profile-sidebar-link {
      display: flex;
      margin-bottom: 1rem;

      .activeMenu {
        color: #f3ca3e !important;
      }

      h5 {
        padding: 7px;
        color: #4d5971 !important;
        font-family: $font-opensans-regular;

        font-size: 14px;

        $font-aller-bold: "Aller Bold";
        &:hover {
          color: #f3ca3e !important;
        }
        &.activeMenuText {
          color: #f3ca3e !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 754px) {
  .profile-sidebar {
    margin-bottom: 3rem;
    .profile-sidebar-link {
      a {
        h1 {
          width: 100%;
        }
      }
    }
  }
}
