@import "/src/config/variables.scss";

.profile-sidebar {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  height: 100vh;
  a {
    text-decoration: none;
    &:hover {
      color: #008952;
    }
    .profile-sidebar-link {
      display: flex;
      margin-bottom: 1rem;

      .iconStyle.activeMenu svg {
        color: #008952;
      }

      &:hover {
        .iconStyle svg {
          color: #008952 !important;
        }
      }

      .iconStyle {
        svg {
          width: 1rem;
          height: 1rem;
          color: #4d5971;
        }
      }

      h5 {
        padding: 7px;
        color: #4d5971 !important;
        font-family: $font-opensans-regular;

        font-size: 14px;

        $font-aller-bold: "Aller Bold";
        &:hover {
          color: #008952 !important;
        }
        &.activeMenuText {
          color: #008952 !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 754px) {
  .profile-sidebar {
    height: 100%;
    margin-bottom: 3rem;
    .profile-sidebar-link {
      a {
        h1 {
          width: 100%;
        }
      }
    }
  }
}
