@import "/src/config/variables.scss";

.profile-sidebar {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  .profile-sidebar-link {
    display: flex;
    margin-bottom: 1rem;
    .activeIcon {
      color: #f3ca3e;
      svg {
        height: 20px;
        width: 20px;
      }
    }

    a {
      text-decoration: none;
      h1 {
        padding: 7px;

        color: #4d5971;
        font-family: $font-opensans-regular;

        font-size: 14px;

        $font-aller-bold: "Aller Bold";
        &.activeMenuText {
          color: #f3ca3e;
        }
      }
    }
  }
}

@media only screen and (max-width: 754px) {
  .profile-sidebar {
    margin-bottom: 3rem;
    .profile-sidebar-link {
      a {
        h1 {
          width: 100%;
        }
      }
    }
  }
}
