$font-italic: 'Montserrat Italic';  
$font-light: 'Montserrat Light';  
$font-regular: 'Montserrat Regular';  
$font-medium: 'Montserrat Medium';  
$font-semi-bold: 'Montserrat SemiBold';  
$font-bold: 'Montserrat Bold';  

