//Montserrat

$font-italic: "Montserrat Italic";
$font-light: "Montserrat Light";
$font-regular: "Montserrat Regular";
$font-medium: "Montserrat Medium"; 
$font-semi-bold: "Montserrat SemiBold";
$font-bold: "Montserrat Bold";

//Barlow
$font-barlow-black: "Barlow Black";
$font-barlow-blackitalic: "Barlow BlackItalic";
$font-barlow-bold: "Barlow Bold";
$font-barlow-bolditalic: "Barlow BoldItalic";
$font-barlow-extrabold: "Barlow ExtraBold";
$font-barlow-extrabolditalic: "Barlow ExtraBoldItalic";
$font-barlow-extralight: "Barlow ExtraLight";
$font-barlow-extralightitalic: "Barlow ExtraLightItalic";
$font-barlow-italic: "Barlow Italic";
$font-barlow-light: "Barlow Light";
$font-barlow-lightitalic: "Barlow LightItalic";
$font-barlow-medium: "Barlow Medium";
$font-barlow-mediumitalic: "Barlow MediumItalic";
$font-barlow-regular: "Barlow Regular";
$font-barlow-semibold: "Barlow SemiBold";
$font-barlow-semibolditalic: "Barlow SemiBoldItalic";
$font-barlow-thin: "Barlow Thin";
$font-barlow-thinitalic: "Barlow ThinItalic";

//Open Sans
$font-opensans-bold: "OpenSans Bold";
$font-opensans-bolditalic: "OpenSans BoldItalic";
$font-opensans-extrabold: "OpenSans ExtraBold";
$font-opensans-extrabolditalic: "OpenSans ExtraBoldItalic";
$font-opensans-italic: "OpenSans Italic";
$font-opensans-light: "OpenSans Light";
$font-opensans-lightitalic: "OpenSans LightItalic";
$font-opensans-regular: "OpenSans Regular";
$font-opensans-semibold: "OpenSans SemiBold";
$font-opensans-semibolditalic: "OpenSans SemiBoldItalic";

//Roboto
$font-roboto-black: "Roboto Black";
$font-roboto-blackitalic: "Roboto BlackItalic";
$font-roboto-bold: "Roboto Bold";
$font-roboto-bolditalic: "Roboto BoldItalic";
$font-roboto-italic: "Roboto Italic";
$font-roboto-light: "Roboto Light";
$font-roboto-lightitalic: "Roboto LightItalic";
$font-roboto-medium: "Roboto Medium";
$font-roboto-mediumitalic: "Roboto MediumItalic";
$font-roboto-regular: "Roboto Regular";
$font-roboto-thin: "Roboto Thin";
$font-roboto-thinitalic: "Roboto ThinItalic";

$font-aller-italic: "Aller Italic";
$font-aller-light: "Aller Light";
$font-aller-regular: "Aller Regular";
$font-aller-bold: "Aller Bold";