@import '/src/config/variables.scss';

.forgot-password-page {
  padding: 2rem 4rem;
  .go-back {
    display: flex;
    padding: 3rem 5rem 2rem 5rem;
    color: #bdbdbd;
  }
  .forgot {
    text-align: center;
    margin-top: 2rem;
    form {
      h4 {
        margin-bottom: 2rem;
      }
      .input-group {
        margin-bottom: 1rem;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      .app-button {
        margin-top: 3rem;
        margin-bottom: 3rem;
        .forgot-button {
          width: 20%;
          background-color: #008952;
          border: none;
          height: 40px;
          border-radius: 3px;
          color: white;
        }
      }
    }
  }
}
