.search-inputs {
  .main-inputs {
    .box {
      display: flex;
      justify-content: space-between;
      h6 {
        height: 28px;
        width: 97px;
        border: 2px solid #e0e0e0;
        background-color: #f7f7f7;
      }
    }
  }
}
