@import "/src/config/variables.scss";

.purchase-information {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .purchase-first {
    .main-purchase {
      h3 {
        text-align: center;
        color: #000000;
        font-family: $font-roboto-bold;
        font-size: 30px;
        margin-bottom: 3rem;
      }
      h4 {
        text-align: center;
        color: #000000;
        font-family: $font-roboto-bold;
        font-size: 20px;
        margin-top: 3rem;
      }
      p {
        text-align: center;

        color: #000000;
        font-family: $font-roboto-regular;
      }
    }
  }
}
