@import "/src/config/variables.scss";

.tabRating {
  display: flex;
  width: 100%;

  .productRating {
    width: 50%;
    margin-right: 2rem;
    h4 {
      color: #333333;
      font-family: $font-roboto-bold;
      font-size: 16px;
      margin-top: 5px;
    }
    .productRating2 {
      margin-top: 2rem;
      background-color: #f5f5f5;
      padding: 2rem;
      width: 15rem;
      height: 8rem;
      border-radius: 5px;
      text-align: center;

      h5 {
        color: #f3ca3e;
        font-family: $font-roboto-bold;
        font-size: 15px;
      }
      .appRating {
        display: flex;

        justify-content: center;
        h6 {
          margin: 0 !important;
        }
      }
      p {
        font-size: 14px;
        color: #333333;
        font-family: $font-roboto-regular;
      }
    }
  }
  .productReview {
    width: 50%;
    h4 {
      color: #333333;
      font-family: $font-roboto-bold;
      font-size: 16px;
      margin-top: 5px;
    }
    .no-review {
      h6 {
        font-size: 14px;
        color: #333333;
        font-family: $font-roboto-regular;
      }
      svg {
        margin-top: 2rem;
        margin-left: 6rem;
      }
    }
    .review {
      margin-top: 2rem;
      border-bottom: 1px solid #333333;
      h5 {
        font-size: 16px;
        color: #333333;
        font-family: $font-roboto-bold;
      }

      p {
        font-size: 16px;
        color: #333333;
        font-family: $font-roboto-regular;
      }
      h6 {
        font-size: 14px;
        color: grey;
        font-family: $font-roboto-regular;
        margin-bottom: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1289px) {
  .tabRating {
    flex-direction: column;
    .productRating {
      margin-bottom: 1rem;
    }
  }
}
