@import "/src//config/variables.scss";

.copyright {
  text-align: center;
    padding: 0px;
    padding-left: 10rem;
    color: #525f7f;
    font-family: $font-roboto-regular;
    span {
      color: hsl(156, 100%, 27%);
    }
  
}
