@import "/src//config/variables.scss";

.copyright {
  text-align: center;
  color: #525f7f;
  font-family: $font-roboto-regular;
  margin-bottom: 1rem;
  span {
    color: hsl(156, 100%, 27%);
  }
}
