@import "/src/config/variables.scss";

.product-item {
  height: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 12rem;

  &:hover {
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.02);
  }

  @media only screen and (min-width: 730px) {
    max-width: 32%;
  }

  @media only screen and (min-width: 900px) {
    max-width: 20%;
  }

  // background: red;

  img {
    width: 7rem;
    height: 7rem;
  }
  .name {
    font-family: $font-roboto-regular;
    color: #124f36;
  }
  .store-name {
    font-family: $font-roboto-regular;
    color: #828282;
    font-size: 0.4rem;
  }

  .price {
    font-family: $font-roboto-regular;
    color: #824040;
    font-size: 0.8rem;
  }

  span {
    font-family: $font-regular;
    font-size: small;
  }
}

.product-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
