@import "/src/config/variables.scss";

.our-services {
  padding: 2rem 4rem;
  height: 100%;
  .services-first {
    padding: 3rem 5rem 2rem 8rem;
    .go-back {
      display: flex;
      cursor: pointer;
      svg {
        height: 1rem;
        width: 1rem;
        margin-top: 2px;
      }
      h6 {
        text-decoration: none;
        font-family: $font-roboto-light;
        color: #bdbdbd;
        font-size: 15px;
        margin-left: 3px;
      }
    }
    .main-services {
      h3 {
        text-align: center;
        color: #000000;
        font-family: $font-roboto-bold;
        font-size: 30px;
        margin-bottom: 3rem;
      }
      h4 {
        text-align: center;
        color: #000000;
        font-family: $font-roboto-bold;
        font-size: 20px;
        margin-top: 3rem;
      }
      p {
        text-align: center;

        color: #000000;
        font-family: $font-roboto-regular;
      }
    }
  }
}

@media only screen and (max-width: 1289px) {
  .our-services {
    padding: 1rem;
    .services-first {
      padding: 2rem;
    }
  }
}
