.product-details {
  background-color: #fcfcff;
  min-height: 100%;
  .product-details-main {
    padding: 1rem 3rem;
    .makeStyles-root-1 {
      display: flex;
      img {
        margin-top: 1.3rem;
        margin-right: 1.3rem;
      }
    }
    .details {
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 1289px) {
  .product-details {
    .product-details-main {
      padding: 1rem;
    }
  }
}
